In [4]:
!pip install -U finance-datareader

In [26]:
!pip install pymysql

In [28]:
import pymysql

In [6]:
import FinanceDataReader as fdr

In [25]:
# 한국거래소 상장종목 전체
df_krx = fdr.StockListing('KRX')
df_krx.head(30)

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,73900,1,1100,1.51,74100,74300,73800,9494688,702920777000,441166930445000,5969782550,STK
1,000660,KR7000660001,SK하이닉스,KOSPI,,137500,1,6300,4.80,133700,138300,133600,4049679,550020457550,100100325187500,728002365,STK
2,373220,KR7373220003,LG에너지솔루션,KOSPI,,417000,1,7000,1.71,419500,422500,416500,91105,38248581000,97578000000000,234000000,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,704000,1,3000,0.43,707000,709000,704000,18826,13299282000,50106496000000,71174000,STK
4,005935,KR7005931001,삼성전자우,KOSPI,,60000,1,600,1.01,60000,60200,59900,476662,28597629400,49373202000000,822886700,STK
5,005490,KR7005490008,POSCO홀딩스,KOSPI,,464500,1,11500,2.54,463500,468000,457000,249290,115231371000,39283336335000,84571230,STK
6,005380,KR7005380001,현대차,KOSPI,,185500,1,500,0.27,187000,187100,185300,135612,25271388500,39239094363000,211531506,STK
7,035420,KR7035420009,NAVER,KOSPI,,222000,1,8500,3.98,218500,225000,217000,741037,163869541000,36054707868000,162408594,STK
8,000270,KR7000270009,기아,KOSPI,,86900,2,-500,-0.57,88000,88000,86700,288767,25242740800,34937641240700,402044203,STK
9,051910,KR7051910008,LG화학,KOSPI,,464500,1,4500,0.98,469000,471000,463000,71925,33608923500,32790143323500,70592343,STK
10,247540,KR7247540008,에코프로비엠,KOSDAQ GLOBAL,우량기업부,321500,1,9500,3.04,324000,325000,314500,552429,176865884500,31443132096000,97801344,KSQ
11,006400,KR7006400006,삼성SDI,KOSPI,,433000,1,3500,0.81,436500,438000,431500,101144,43963830000,29775041490000,68764530,STK
12,068270,KR7068270008,셀트리온,KOSPI,,181500,1,1800,1.00,182700,184300,180700,391896,71631514200,26572102755000,146402770,STK
13,003670,KR7003670007,포스코퓨처엠,KOSPI,,340500,1,15000,4.61,335500,340500,331500,315210,105589986000,26376226410000,77463220,STK
14,028260,KR7028260008,삼성물산,KOSPI,,131800,1,3100,2.41,130000,132000,129100,215336,28144838000,24460982106000,185591670,STK
15,035720,KR7035720002,카카오,KOSPI,,54200,1,3300,6.48,52400,54900,52300,2662203,142921569200,24105404472000,444749160,STK
16,012330,KR7012330007,현대모비스,KOSPI,,225500,2,-1500,-0.66,229000,229000,225000,62131,14109551500,21119223697000,93655094,STK
17,105560,KR7105560007,KB금융,KOSPI,,52200,1,700,1.36,51900,52400,51900,293325,15304394700,21063277958400,403511072,STK
18,055550,KR7055550008,신한지주,KOSPI,,37750,1,700,1.89,37850,37850,37050,413110,15569913250,19460283134750,515504189,STK
19,086520,KR7086520004,에코프로,KOSDAQ,우량기업부,639000,1,10000,1.59,647000,649000,632000,124835,79838130000,17015079852000,26627668,KSQ
20,066570,KR7066570003,LG전자,KOSPI,,96700,1,900,0.94,97100,97200,96500,252165,24418634900,15824743613800,163647814,STK
21,032830,KR7032830002,삼성생명,KOSPI,,70100,2,-300,-0.43,70800,70800,70100,57277,4033593400,14020000000000,200000000,STK
22,096770,KR7096770003,SK이노베이션,KOSPI,,134700,1,3600,2.75,133000,134700,132500,178988,23918890400,13558304470800,100655564,STK
23,003550,KR7003550001,LG,KOSPI,,84900,1,1500,1.80,84600,85000,84000,56346,4768797000,13354854305700,157300993,STK
24,091990,KR7091990002,셀트리온헬스케어,KOSDAQ GLOBAL,우량기업부,79400,1,600,0.76,79500,81000,78600,615901,49305819800,13058499085600,164464724,KSQ
25,018260,KR7018260000,삼성에스디에스,KOSPI,,168700,2,-3300,-1.92,173800,174000,168600,63394,10878976900,13053634860000,77377800,STK
26,323410,KR7323410001,카카오뱅크,KOSPI,,26950,1,1000,3.85,26500,27150,26300,1001392,26832885250,12850760842150,476837137,STK
27,034730,KR7034730002,SK,KOSPI,,173800,1,1800,1.05,173600,174400,173300,53770,9355444500,12721869580200,73198329,STK
28,015760,KR7015760002,한국전력,KOSPI,,19270,1,80,0.42,19400,19400,19130,362608,6978768370,12370647763790,641964077,STK
29,086790,KR7086790003,하나금융지주,KOSPI,,42150,1,500,1.20,42100,42350,41750,299771,12636300750,12322830605700,292356598,STK

In [22]:
df = fdr.DataReader('005930', '2015')
df.head(10)

             Open   High    Low  Close  Volume    Change
Date
2015-01-02  26799  26799  26540  26600  175499  0.002261
2015-01-05  26720  26720  26260  26660  202790  0.002256
2015-01-06  26300  26340  25760  25900  304710 -0.028507
2015-01-07  25880  26220  25640  26140  286455  0.009266
2015-01-08  26780  26780  26199  26280  289552  0.005356
2015-01-09  26280  26440  26280  26280  186248  0.000000
2015-01-12  26260  26379  26020  26320  166508  0.001522
2015-01-13  26280  26800  26000  26780  245868  0.017477
2015-01-14  26780  27100  26700  26900  286645  0.004481
2015-01-15  26900  26979  26580  26680  282078 -0.008178

In [23]:
df

             Open   High    Low  Close    Volume    Change
Date
2015-01-02  26799  26799  26540  26600    175499  0.002261
2015-01-05  26720  26720  26260  26660    202790  0.002256
2015-01-06  26300  26340  25760  25900    304710 -0.028507
2015-01-07  25880  26220  25640  26140    286455  0.009266
2015-01-08  26780  26780  26199  26280    289552  0.005356
...           ...    ...    ...    ...       ...       ...
2023-12-08  72100  72800  71900  72600  10859463  0.015385
2023-12-11  72800  73000  72200  73000   9861960  0.005510
2023-12-12  73300  73500  73100  73500  13758646  0.006849
2023-12-13  73300  73500  72800  72800  13116766 -0.009524
2023-12-14  74100  74300  73800  73900   9524375  0.015110

[2205 rows x 6 columns]

In [19]:
df.shape

(2205, 6)